<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    
    <div class="card">
        <img src="https://i.postimg.cc/TPGZ3Mfg/jaydeep.jpg " alt="jaydeep" style="width:100%">
        <h1>Jaydeep Darji</h1>
        <p class="title">Frontend Developer</p>
        <p>Gujrat University</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <button>Contact</button>
      </div>
</body>
</html>